PORT=4000
NODE_ENV=development
JWT_SECRET=grimoire_super_secret_jwt_key_change_in_production
DATABASE_URL="postgresql://grimoire:grimoire_password@localhost:5432/grimoire_db?schema=public"
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=./uploads
